body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    color: white;
    height: 60px; /* 设置导航栏高度 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* 添加左右内边距 */
}

.navbar nav {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-left: 20px; /* 添加左侧外边距 */
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

.background-image {
    flex: 1; /* 占据剩余空间 */
    background-image: url('image/image1.png'); /* 替换为实际图片路径 */
    width: 100%; /* 宽度为100% */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
