body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    color: white;
}

.navbar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar nav li {
    float: left;
}

.navbar nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar nav li a:hover {
    background-color: #111;
}

.carousel {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.carousel .carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
